body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


td {
  border: black solid 1px;
  text-align: left;
  background-color: white;
}

th {
  border: black solid 1px;
  background-color: white;
}

#SideMenu {
  background-color: pink;
  float: left;
  width: 200px;
  height: 100%;
}

#Board {
  background-color: blueviolet;
  width: auto;
}

#Control {
  background-color: yellowgreen;
  margin-left: 200px;
}

#ItemList {
  background-color: palevioletred;
  margin-left: 200px;
}

p {
  text-align: left;
}